name: unit-test

on: pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  unit-test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: [cleanup, orphan-branch-name, ensure-base-screenshots]
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout (fetch all)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Download base screenshots
        uses: daiji256/download-from-orphan-branch@d1bdd0b00dbb1dd7145324d93631a5a3226d715d # v1.0.0
        with:
          branch: ${{ needs.orphan-branch-name.outputs.base-screenshots }}

      - name: Run unit test
        run: |
          ./gradlew testDebugUnitTest \
            -Proborazzi.test.record=true \
            -Proborazzi.test.compare=true \
            -Proborazzi.cleanupOldScreenshots=true

      - name: Display unit test report
        if: ${{ !cancelled() }}
        uses: dorny/test-reporter@b082adf0eced0765477756c2a610396589b8c637 # v2.5.0
        with:
          name: unit-test-report
          path: "**/build/test-results/**/TEST-*.xml"
          reporter: java-junit

      - name: Upload head screenshots
        if: ${{ !cancelled() }}
        uses: daiji256/upload-to-orphan-branch@8d353234c31aaf2134dc6081b863fcd876fcb2d0 # v1.0.0
        with:
          branch: ${{ needs.orphan-branch-name.outputs.head-screenshots }}
          overwrite: true
          path: |
            **/build/outputs/roborazzi
            !**/build/outputs/roborazzi/*_compare.png
            !**/build/outputs/roborazzi/*_actual.png

      - name: Upload companion screenshots
        if: ${{ !cancelled() }}
        uses: daiji256/upload-to-orphan-branch@8d353234c31aaf2134dc6081b863fcd876fcb2d0 # v1.0.0
        with:
          branch: ${{ needs.orphan-branch-name.outputs.companion-screenshots }}
          overwrite: true
          path: "**/build/outputs/roborazzi/*_compare.png"

      - name: Post report
        env:
          COMPANION_BRANCH: ${{ needs.orphan-branch-name.outputs.companion-screenshots }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          mapfile -d "" files < <(find . -type f -path "**/build/outputs/roborazzi/*_compare.png" -print0)
          if [[ ${#files[@]} -eq 0 ]]; then
            exit 0
          fi
          report="<!-- screenshot-test-report -->"$'\n'
          report+=$'\n'
          report+="> [!NOTE]"$'\n'
          report+="> Differences found in ${#files[@]} screenshots."$'\n'
          report+=$'\n'
          report+="<details><summary>Expand for details</summary>"$'\n'
          for file in "${files[@]}"; do
            report+=$'\n'
            report+="\`$(basename "$file")\`"$'\n'
            report+="![](https://github.com/${GITHUB_REPOSITORY}/blob/${COMPANION_BRANCH}/${file}?raw=true)"$'\n'
          done
          report+=$'\n'
          report+="</details>"$'\n'
          gh pr comment "$PR_NUMBER" --body "$report"

  ensure-base-screenshots:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: [cleanup, orphan-branch-name]
    permissions:
      contents: write

    steps:
      - name: Checkout base (fetch all)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.base.ref }}
          fetch-depth: 0

      - name: Check if base screenshots branch exists
        id: check-base-screenshots-branch
        env:
          BRANCH: ${{ needs.orphan-branch-name.outputs.base-screenshots }}
        run: |
          if git show-ref --verify --quiet "refs/remotes/origin/${BRANCH}"; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Setup JDK
        if: ${{ !cancelled() && success() && steps.check-base-screenshots-branch.outputs.exists == 'false' }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        if: ${{ !cancelled() && success() && steps.check-base-screenshots-branch.outputs.exists == 'false' }}
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Record base screenshots
        if: ${{ !cancelled() && success() && steps.check-base-screenshots-branch.outputs.exists == 'false' }}
        run: ./gradlew recordRoborazziDebug

      - name: Upload base screenshots
        if: ${{ !cancelled() && success() && steps.check-base-screenshots-branch.outputs.exists == 'false' }}
        uses: daiji256/upload-to-orphan-branch@8d353234c31aaf2134dc6081b863fcd876fcb2d0 # v1.0.0
        with:
          branch: ${{ needs.orphan-branch-name.outputs.base-screenshots }}
          path: "**/build/outputs/roborazzi"

  orphan-branch-name:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    outputs:
      base-screenshots: ${{ steps.branch-names.outputs.base }}
      head-screenshots: ${{ steps.branch-names.outputs.head }}
      companion-screenshots: ${{ steps.branch-names.outputs.companion }}

    steps:
      - name: Checkout base
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.base.ref }}

      - name: Get base files hash
        id: base
        run: |
          hash=$(git ls-files -z | xargs -0 sha256sum | sha256sum | awk '{print $1}')
          echo "hash=${hash:0:7}" >> "$GITHUB_OUTPUT"

      - name: Checkout head
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Get head files hash
        id: head
        run: |
          hash=$(git ls-files -z | xargs -0 sha256sum | sha256sum | awk '{print $1}')
          echo "hash=${hash:0:7}" >> "$GITHUB_OUTPUT"

      - name: Get branch names
        id: branch-names
        env:
          BASE_FILES_HASH: ${{ steps.base.outputs.hash }}
          HEAD_FILES_HASH: ${{ steps.head.outputs.hash }}
        run: |
          echo "base=_screenshots_${BASE_FILES_HASH}" >> "$GITHUB_OUTPUT"
          echo "head=_screenshots_${HEAD_FILES_HASH}" >> "$GITHUB_OUTPUT"
          echo "companion=_companion_screenshots_${BASE_FILES_HASH}_${HEAD_FILES_HASH}" >> "$GITHUB_OUTPUT"

  cleanup:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout (fetch all)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Delete outdated orphan branches
        uses: daiji256/delete-orphan-branch@4ec7df3983a4a54cd46cfed7af767308629e8805 # v1.0.0
        with:
          branch-regex: ^(_screenshots_|_companion_screenshots_).*
          older-than-seconds: 1209600 # 14 days

      - name: Delete outdated screenshot test report comments
        env:
          GH_TOKEN: ${{ github.token }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          comment_ids=$(
            gh api "repos/${GITHUB_REPOSITORY}/issues/${PR_NUMBER}/comments" |
            jq -r '
              .[]
              | select(.user.login == "github-actions[bot]")
              | select(.body | contains("<!-- screenshot-test-report -->"))
              | .id'
          )
          for comment_id in $comment_ids; do
            gh api -X DELETE "repos/${GITHUB_REPOSITORY}/issues/comments/${comment_id}"
          done
